<p>Submit a file to view its filesize.</p>
<form id="upload" enctype="multipart/form-data" method="POST" action="/new">
   <input id="fileupload" name="myfile" type="file" />
   <input type="submit" value="submit" id="submit" />
</form>